<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">

<head>
	<meta charset="utf-8"/>
	<title>Aplikacja bazodanowa</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="{$conf->app_url}/css/style.css">
	<link rel="stylesheet" href="{$conf->app_url}/css/style1.css">
	<script type="text/javascript" src="{$conf->app_url}/js/functions.js"></script>
</head>

<body style="margin: 20px;">
    <h1>Incident Response System</h1>

    <div class="pure-menu pure-menu-horizontal bottom-margin">
        {if count($conf->roles)>0}
	   <span>Logged as {$realname}</span>
	   <a href="{$conf->action_root}logout" class="pure-menu-heading pure-menu-link">Logout</a>
        <fieldset class="fieldset">
        <button class="button" onclick="ajaxReloadElement('addWindow', '{$conf->action_root}newRequest')">Add new</button>
        {if inRole("admin")}
        <button class="button" onclick="ajaxReloadElement('addWindow', '{$conf->action_root}newUser')">Add new user</button>                 
        {/if}
        </fieldset>
        {else}	
	   <a href="{$conf->action_root}loginShow" class="pure-menu-heading pure-menu-link">Zaloguj</a>
        {/if}
    </div>
    
    {if inRole("admin")}
    <fieldset id="admin_buttons">
        <button class="button" onclick="ajaxReloadElement('tab_inc_list', '{$conf->action_root}showListPart'); ajaxReloadElement('addWindow', '{$conf->action_root}reloadAddWindow')">Requests list</button>
        <button class="button" onclick=" ajaxReloadElement('addWindow', '{$conf->action_root}reloadAddWindow'); ajaxReloadElement('tab_inc_list', '{$conf->action_root}showUsersList')">Users list</button>
    </fieldset>
    {/if}

{block name=top} {/block}

{block name=messages}

{if $msgs->isMessage()}
<div class="messages bottom-margin">
	<ul>
	{foreach $msgs->getMessages() as $msg}
	{strip}
		<li class="msg {if $msg->isError()}error{/if} {if $msg->isWarning()}warning{/if} {if $msg->isInfo()}info{/if}">{$msg->text}</li>
	{/strip}
	{/foreach}
	</ul>
</div>
{/if}

{/block}

{block name=bottom} {/block}

</body>

</html>